<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" android:sharedUserId="android.uid.system" coreApp="true" package="com.android.settings_ex" platformBuildVersionCode="23" platformBuildVersionName="6.0.1">
    <original-package android:name="com.android.settings_ex"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.HARDWARE_TEST"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MASTER_CLEAR"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.android.certinstaller.INSTALL_AS_USER"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOVE_PACKAGE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.BACKUP"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.MANAGE_USB"/>
    <uses-permission android:name="android.permission.SET_POINTER_SPEED"/>
    <uses-permission android:name="android.permission.SET_KEYBOARD_LAYOUT"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.COPY_PROTECTED_DATA"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.MANAGE_PROFILE_AND_DEVICE_OWNERS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY"/>
    <uses-permission android:name="android.permission.SET_TIME"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS"/>
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES"/>
    <uses-permission android:name="android.permission.OEM_UNLOCK_STATE"/>
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.MANAGE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USER_ACTIVITY"/>
    <uses-permission android:name="android.permission.CHANGE_APP_IDLE_STATE"/>
    <uses-permission android:name="android.permission.PEERS_MAC_ADDRESS"/>
    <application android:allowBackup="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher_settings" android:label="@string/settings_label" android:requiredForAllUsers="true" android:supportsRtl="true" android:taskAffinity="" android:theme="@style/Theme.Settings" android:usesCleartextTraffic="true">
        <uses-library android:name="nubia-tab" android:required="false"/>
        <uses-library android:name="cn.nubia.umeng" android:required="false"/>
        <meta-data android:name="UMENG_APPKEY" android:value="553a10b867e58ef212000313"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="nubia"/>
        <activity android:label="@string/settings_label_launcher" android:launchMode="singleTask" android:name="Settings" android:targetActivity="Settings" android:taskAffinity="com.android.settings_ex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="mcc|mnc" android:name=".SubSettings" android:parentActivityName="Settings" android:screenOrientation="@nubia:integer/nubia_screen_orientation" android:taskAffinity="com.android.settings_ex"/>

        <activity android:label="@string/wireless_networks_settings_title" android:name="Settings$WirelessSettingsActivity" android:parentActivityName="Settings" android:screenOrientation="@nubia:integer/nubia_screen_orientation" android:taskAffinity="com.android.settings_ex">
            <intent-filter android:priority="1">
                <action android:name="android.settings.WIRELESS_SETTINGS"/>
                <action android:name="android.settings.AIRPLANE_MODE_SETTINGS"/>
                <action android:name="android.settings.NFC_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE_LAUNCH"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.WirelessSettings"/>
            <meta-data android:name="com.android.settings_ex.TOP_LEVEL_HEADER_ID" android:resource="@id/wireless_settings"/>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <activity android:label="@string/display_settings" android:name="Settings$DisplaySettingsActivity" android:screenOrientation="@nubia:integer/nubia_screen_orientation" android:taskAffinity="">
            <intent-filter android:priority="1">
                <action android:name="com.android.settings_ex.DISPLAY_SETTINGS"/>
                <action android:name="android.settings.DISPLAY_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE_LAUNCH"/>
                <category android:name="com.android.settings_ex.SHORTCUT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.DisplaySettings"/>
            <meta-data android:name="com.android.settings_ex.TOP_LEVEL_HEADER_ID" android:resource="@id/display_settings"/>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <activity-alias android:exported="true" android:label="@string/display_settings" android:name="DisplaySettings" android:targetActivity="Settings$DisplaySettingsActivity">
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.DisplaySettings"/>
            <meta-data android:name="com.android.settings_ex.TOP_LEVEL_HEADER_ID" android:resource="@id/display_settings"/>
        </activity-alias>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:icon="@mipmap/edge_gesture_icon" android:label="@string/edge_flide_title" android:launchMode="singleTask" android:name="Settings$EdgeSettingsActivity" android:screenOrientation="@nubia:integer/nubia_screen_orientation" android:taskAffinity="" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.settings.NUBIA_EDGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/display_preferences_title" android:name=".ImageEnhanceSettings2" android:parentActivityName="Settings$DisplaySettingsActivity" android:screenOrientation="@nubia:integer/nubia_screen_orientation" android:taskAffinity="com.android.settings_ex" android:theme="@style/Theme.SettingsScreen" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:label="@string/display_preferences_title" android:name=".ImageEnhanceSettings3" android:parentActivityName="Settings$DisplaySettingsActivity" android:screenOrientation="@nubia:integer/nubia_screen_orientation" android:taskAffinity="com.android.settings_ex" android:theme="@style/Theme.SettingsScreen" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:label="@string/split_screen_settings" android:name=".splitscreen.SplitScreenSettingsActivity" android:screenOrientation="@nubia:integer/nubia_screen_orientation" android:theme="@style/Theme.Settings"/>
        <activity android:label="@string/split_screen_slide_up_titile" android:name=".splitscreen.SlidingUpToSplitScreenActivity" android:screenOrientation="@nubia:integer/nubia_screen_orientation" android:theme="@style/Theme.Nubia.ActionBar"/>
        <activity android:clearTaskOnLaunch="true" android:label="@string/touch_gesture_title" android:name="Settings$GestureSettingsActivity" android:parentActivityName="Settings" android:screenOrientation="@nubia:integer/nubia_screen_orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.android.settings_ex.MOTION_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE_LAUNCH"/>
                <category android:name="com.android.settings_ex.SHORTCUT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.gesturez7.Z7TouchSettings"/>
            <meta-data android:name="com.android.settings_ex.TOP_LEVEL_HEADER_ID" android:resource="@id/feature_settings"/>
        </activity>
    </application>
</manifest>
